bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.listy-list/.idea/encodings.xml
.idea/.idea.listy-list/.idea/indexLayout.xml
.idea/.idea.listy-list/.idea/vcs.xml
.idea/.idea.taskaloo/.idea/indexLayout.xml
.idea/.idea.taskaloo/.idea/workspace.xml
.idea/.idea.taskaloo/.idea/workspace.xml
